.container {
  display: flex;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 4rem);
}

.content {
  display: flex;
  flex: 1 0 auto;
}

.center {
  margin: 0 auto;
  max-width: 46rem;
  padding: 0 2.4rem;
}

.description {
  color: #8a8f98;
}

.usage {
  background-color: #282a36;
}

.image {
  max-width: 100%;
  margin: 0 -30px;
}

.toc {
  position: fixed;
  right: 80px;
  top: 64px;
  margin: 0;
}

@media (max-width: 76rem) {
  .container {
    display: block;
    min-height: auto;
  }

  .content {
    display: block;
  }

  .center {
    max-width: none;
  }

  .toc {
    display: none;
  }
}
