.drac-badge {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: var(--corner-radius);
  text-transform: uppercase;
}

.drac-badge .drac-text {
  text-transform: uppercase;
}

.drac-badge-subtle {
  border-width: var(--border-size);
  border-style: solid;
}

.drac-badge-outline {
  border-width: var(--border-size);
  border-style: solid;
  background-color: transparent;
}
