.card {
  border-radius: var(--rounded-lg);
  /* box-shadow: -2px var(--glow-spacing-x) var(--glow-spacing-y) var(--glowColor); */
  background: #16181d;
}

.card-portrait {
  max-width: 30rem;
}

.card-subtle {
  box-shadow: none;
  background: none;
  border-width: 2px;
  border-style: solid;
}