:root {
  --black: #282a36;
  --white: #f8f8f2;

  --cyan: #80ffea;
  --green: #8aff80;
  --orange: #ffca80;
  --pink: #ff80bf;
  --purple: #9580ff;
  --red: #ff9580;
  --yellow: #ffff80;

  --disabled: #6d7392;

  --gradientDegree: 135deg;
}

.drac-bg-black {
  background: var(--black);
}
.drac-bg-white {
  background: var(--white);
}
.drac-bg-cyan {
  background: var(--cyan);
}
.drac-bg-green {
  background: var(--green);
}
.drac-bg-orange {
  background: var(--orange);
}
.drac-bg-pink {
  background: var(--pink);
}
.drac-bg-purple {
  background: var(--purple);
}
.drac-bg-red {
  background: var(--red);
}
.drac-bg-yellow {
  background: var(--yellow);
}
.drac-bg-purple-cyan {
  background: linear-gradient(
    var(--gradientDegree),
    var(--purple) 0%,
    var(--cyan) 100%
  );
}
.drac-bg-yellow-pink {
  background: linear-gradient(
    var(--gradientDegree),
    var(--yellow) 0%,
    var(--pink) 100%
  );
}
.drac-bg-cyan-green {
  background: linear-gradient(
    var(--gradientDegree),
    var(--cyan) 0%,
    var(--green) 100%
  );
}
.drac-bg-pink-purple {
  background: linear-gradient(
    var(--gradientDegree),
    var(--pink) 0%,
    var(--purple) 100%
  );
}

.drac-text-black {
  color: var(--black);
}
.drac-text-white {
  color: var(--white);
}
.drac-text-cyan {
  color: var(--cyan);
}
.drac-text-green {
  color: var(--green);
}
.drac-text-orange {
  color: var(--orange);
}
.drac-text-pink {
  color: var(--pink);
}
.drac-text-purple {
  color: var(--purple);
}
.drac-text-red {
  color: var(--red);
}
.drac-text-yellow {
  color: var(--yellow);
}
.drac-text-purple-cyan {
  background-image: linear-gradient(
    var(--gradientDegree),
    var(--purple) 0%,
    var(--cyan) 100%
  );

  background-size: 100%;
  background-clip: text;

  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.drac-text-yellow-pink {
  background-image: linear-gradient(
    var(--gradientDegree),
    var(--yellow) 0%,
    var(--pink) 100%
  );

  background-size: 100%;
  background-clip: text;

  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.drac-text-cyan-green {
  background-image: linear-gradient(
    var(--gradientDegree),
    var(--cyan) 0%,
    var(--green) 100%
  );

  background-size: 100%;
  background-clip: text;

  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.drac-text-pink-purple {
  background-image: linear-gradient(
    var(--gradientDegree),
    var(--pink) 0%,
    var(--purple) 100%
  );

  background-size: 100%;
  background-clip: text;

  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
