.drac-custom-scrollbar {
    --custom-scrollbar-bg: transparent;
    --custom-scrollbar-border: hsl(250, 100%, 75%, 5%);
    --custom-scrollbar-thumb: hsl(250, 100%, 75%);
    --custom-scrollbar-thumb-hover: hsl(250, 100%, 90%);

    overflow: auto;
}

.drac-custom-scrollbar::-webkit-scrollbar {
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--custom-scrollbar-bg);
}

.drac-custom-scrollbar::-webkit-scrollbar-track:horizontal {
    border-top: 0.0625rem solid var(--custom-scrollbar-border);
}

.drac-custom-scrollbar::-webkit-scrollbar-track:vertical {
    border-left: 0.0625rem solid var(--custom-scrollbar-border);
}

.drac-custom-scrollbar::-webkit-scrollbar-corner {
    border-top: 0.0625rem solid var(--custom-scrollbar-border);
    border-left: 0.0625rem solid var(--custom-scrollbar-border);
    background-color: transparent;
}

.drac-custom-scrollbar::-webkit-scrollbar-thumb {
    min-width: 3rem;
    min-height: 3rem;
    border-radius: 1rem;
    border: 0.4rem solid transparent;
    background-color: var(--custom-scrollbar-thumb);
    background-clip: content-box;
    -moz-background-clip: content;
    -webkit-background-clip: content;
}

.drac-custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--custom-scrollbar-thumb-hover);
}