.list {
  list-style: none;
}

.list-unordered li::before {
  content: "—";
  padding-right: 10px;
}

.list-ordered {
  counter-reset: li;
}

.list-ordered li {
  counter-increment: li;
  margin-left: -30px;
}

.list-ordered li::before {
  content: counter(li)'.';
  display: inline-block;
  margin-left: 15px;
  padding-right: 5px;
  text-align: right;
  width: 30px;
}

.list-black.list-unordered li::before,
.list-black.list-ordered li::before {
  color: var(--black);
}

.list-white.list-unordered li::before,
.list-white.list-ordered li::before {
  color: var(--white);
}

.list-cyan.list-unordered li::before,
.list-cyan.list-ordered li::before {
  color: var(--cyan);
}

.list-green.list-unordered li::before,
.list-green.list-ordered li::before {
  color: var(--green);
}

.list-orange.list-unordered li::before,
.list-orange.list-ordered li::before {
  color: var(--orange);
}

.list-pink.list-unordered li::before,
.list-pink.list-ordered li::before {
  color: var(--pink);
}

.list-purple.list-unordered li::before,
.list-purple.list-ordered li::before {
  color: var(--purple);
}

.list-red.list-unordered li::before,
.list-red.list-ordered li::before {
  color: var(--red);
}

.list-yellow.list-unordered li::before,
.list-yellow.list-ordered li::before {
  color: var(--yellow);
}

.list-none {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}