:root {
  --corner-radius: 0.5rem;
  --border-size: 0.1rem;

  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
}

.drac-box {
  box-sizing: border-box;
}

.drac-box h1,
.drac-box h2,
.drac-box h3,
.drac-box h4 {
  margin: 0;
}

.drac-spacing-none {
  padding: 0;
  margin: 0;
}

.drac-spacing-sm {
  padding: var(--spacing-sm);
}

.drac-spacing-sm-x {
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
}

.drac-spacing-sm-y {
  padding-top: var(--spacing-sm);
  padding-bottom: var(--spacing-sm);
}

.drac-spacing-md {
  padding: var(--spacing-md);
}

.drac-spacing-md-x {
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
}

.drac-spacing-md-y {
  padding-top: var(--spacing-md);
  padding-bottom: var(--spacing-md);
}

.drac-spacing-lg {
  padding: var(--spacing-lg);
}

.drac-spacing-lg-x {
  padding-left: var(--spacing-lg);
  padding-right: var(--spacing-lg);
}

.drac-spacing-lg-y {
  padding-top: var(--spacing-lg);
  padding-bottom: var(--spacing-lg);
}
