:root {
  --spacing-xxs: 0.375rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
}

.drac-box {
  box-sizing: border-box;
}

.drac-box h1,
.drac-box h2,
.drac-box h3,
.drac-box h4 {
  margin: 0;
}

.drac-spacing-none {
  padding: 0;
}

.drac-spacing-xs {
  padding: var(--spacing-xs);
}

.drac-spacing-xxs {
  padding: var(--spacing-xxs);
}

.drac-spacing-xs-x {
  padding-left: var(--spacing-xs);
  padding-right: var(--spacing-xs);
}

.drac-spacing-xs-y {
  padding-top: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
}

.drac-spacing-xxs-x {
  padding-left: var(--spacing-xxs);
  padding-right: var(--spacing-xxs);
}

.drac-spacing-xxs-y {
  padding-top: var(--spacing-xxs);
  padding-bottom: var(--spacing-xxs);
}

.drac-spacing-sm {
  padding: var(--spacing-sm);
}

.drac-spacing-sm-x {
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
}

.drac-spacing-sm-y {
  padding-top: var(--spacing-sm);
  padding-bottom: var(--spacing-sm);
}

.drac-spacing-md {
  padding: var(--spacing-md);
}

.drac-spacing-md-x {
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
}

.drac-spacing-md-y {
  padding-top: var(--spacing-md);
  padding-bottom: var(--spacing-md);
}

.drac-spacing-lg {
  padding: var(--spacing-lg);
}

.drac-spacing-lg-x {
  padding-left: var(--spacing-lg);
  padding-right: var(--spacing-lg);
}

.drac-spacing-lg-y {
  padding-top: var(--spacing-lg);
  padding-bottom: var(--spacing-lg);
}

.drac-margin-none {
  margin: 0;
}

.drac-margin-xs {
  margin: var(--spacing-xs);
}

.drac-margin-xxs {
  margin: var(--spacing-xxs);
}

.drac-margin-xxs-x {
  margin-left: var(--spacing-xxs);
  margin-right: var(--spacing-xxs);
}

.drac-margin-xxs-y {
  margin-top: var(--spacing-xxs);
  margin-bottom: var(--spacing-xxs);
}

.drac-margin-xs-x {
  margin-left: var(--spacing-xs);
  margin-right: var(--spacing-xs);
}

.drac-margin-xs-y {
  margin-top: var(--spacing-xs);
  margin-bottom: var(--spacing-xs);
}

.drac-margin-sm {
  margin: var(--spacing-sm);
}

.drac-margin-sm-x {
  margin-left: var(--spacing-sm);
  margin-right: var(--spacing-sm);
}

.drac-margin-sm-y {
  margin-top: var(--spacing-sm);
  margin-bottom: var(--spacing-sm);
}

.drac-margin-md {
  margin: var(--spacing-md);
}

.drac-margin-md-x {
  margin-left: var(--spacing-md);
  margin-right: var(--spacing-md);
}

.drac-margin-md-y {
  margin-top: var(--spacing-md);
  margin-bottom: var(--spacing-md);
}

.drac-margin-lg {
  margin: var(--spacing-lg);
}

.drac-margin-lg-x {
  margin-left: var(--spacing-lg);
  margin-right: var(--spacing-lg);
}

.drac-margin-lg-y {
  margin-top: var(--spacing-lg);
  margin-bottom: var(--spacing-lg);
}
