.drac-tabs {
  list-style: none;
  display: flex;
  padding: 0;
}

.drac-tab {
  border-bottom-color: var(--disabled);
  border-bottom-width: 0.2rem;
  border-bottom-style: solid;
  padding: 1rem;
}

.drac-tab-link {
  color: var(--white);
  text-decoration: none;
}

.drac-tabs-black .drac-tab-active {
  border-color: var(--black);
}

.drac-tabs-black .drac-tab-active .drac-tab-link {
  color: var(--black);
}

.drac-tabs-white .drac-tab-active {
  border-color: var(--white);
}

.drac-tabs-white .drac-tab-active .drac-tab-link {
  color: var(--white);
}

.drac-tabs-cyan .drac-tab-active {
  border-color: var(--cyan);
}

.drac-tabs-cyan .drac-tab-active .drac-tab-link {
  color: var(--cyan);
}

.drac-tabs-green .drac-tab-active {
  border-color: var(--green);
}

.drac-tabs-green .drac-tab-active .drac-tab-link {
  color: var(--green);
}

.drac-tabs-orange .drac-tab-active {
  border-color: var(--orange);
}

.drac-tabs-orange .drac-tab-active .drac-tab-link {
  color: var(--orange);
}

.drac-tabs-pink .drac-tab-active {
  border-color: var(--pink);
}

.drac-tabs-pink .drac-tab-active .drac-tab-link {
  color: var(--pink);
}

.drac-tabs-purple .drac-tab-active {
  border-color: var(--purple);
}

.drac-tabs-purple .drac-tab-active .drac-tab-link {
  color: var(--purple);
}

.drac-tabs-red .drac-tab-active {
  border-color: var(--red);
}

.drac-tabs-red .drac-tab-active .drac-tab-link {
  color: var(--red);
}

.drac-tabs-yellow .drac-tab-active {
  border-color: var(--yellow);
}

.drac-tabs-yellow .drac-tab-active .drac-tab-link {
  color: var(--yellow);
}
