.drac-tabs {
  list-style: none;
  display: flex;
  padding: 0;
}

.drac-tab {
  border-bottom-color: var(--disabled);
  border-bottom-width: 0.2rem;
  border-bottom-style: solid;
  padding: 1rem;
}

.drac-tab-link {
  color: var(--white);
  text-decoration: none;
}

@each $color in black, white, cyan, green, orange, pink, purple, red, yellow {
  .drac-tabs-$(color) .drac-tab-active {
    border-color: var(--$(color));
  }

  .drac-tabs-$(color) .drac-tab-active .drac-tab-link {
    color: var(--$(color));
  }
}
