:root {
  --font-xs: 0.75rem; /* 12px */
  --font-sm: 0.875rem; /* 14px */
  --font-md: 1rem; /* 16px */
  --font-lg: 1.125rem; /* 18px */
  --font-xl: 1.25rem; /* 20px */
  --font-2xl: 1.5rem; /* 24px */
  --font-3xl: 1.875rem; /* 30px */
  --font-4xl: 2.25rem; /* 36px */
  --font-5xl: 3rem; /* 48px */
  --font-6xl: 4rem; /* 64px */
}

.drac-heading,
.drac-select,
.drac-input,
.drac-text,
.drac-btn {
  /* Help prevent overflow of long words/names/URLs */
  word-break: break-word;
  /* Optional, not supported for all languages */
  hyphens: auto;

  /* TODO: add web font */
  font-family: 'Fira Code', monospace;
}

p.drac-text {
  line-height: 1.375rem;
}

/* -- Heading -- */
.drac-heading-1 {
  font-size: var(--font-5xl);
}

.drac-heading-2 {
  font-size: var(--font-2xl);
}

.drac-heading-3 {
  font-size: var(--font-xl);
}

.drac-heading-4 {
  font-size: var(--font-lg);
}

.drac-heading-5 {
  font-size: var(--font-md);
}

.drac-heading-6 {
  font-size: var(--font-sm);
}

/* -- Text -- */

.drac-text-bold {
  font-weight: bold;
}

.drac-text-semibold {
  font-weight: 600;
}

/* -- Sizes -- */

.drac-text {
  font-size: var(--font-md);
}

.drac-text.drac-text-lg {
  font-size: var(--font-lg);
}

.drac-text.drac-text-sm {
  font-size: var(--font-sm);
}

.drac-text.drac-text-xs {
  font-size: var(--font-xs);
}
