.drac-heading,
.drac-text,
.drac-btn {
  /* Help prevent overflow of long words/names/URLs */
  word-break: break-word;
  /* Optional, not supported for all languages */
  hyphens: auto;

  /* TODO: add web font */
  font-family: 'Fira Code', monospace;
}

/* -- Heading -- */
.drac-heading-1 {
  font-size: 8rem;
}

.drac-heading-2 {
  font-size: 6rem;
}

.drac-heading-3 {
  font-size: 3rem;
}

.drac-heading-4 {
  font-size: 2.4rem;
}

/* -- Text -- */

.drac-text-bold {
  font-weight: bold;
}

.drac-text-semibold {
  font-weight: 600;
}

.drac-text {
  font-size: 1.6rem;
}

.drac-text-lg {
  font-size: 2.4rem;
}

.drac-text-md {
  font-size: 2rem;
}

.drac-text-sm {
  font-size: 1.2rem;
}
