.nav {
  background: #15171b;
  height: 100vh;
  min-width: 15rem;
  overflow-y: auto;
  position: fixed;
}

.navSectionTitle {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 12px;
}

.navSectionList,
.navSectionListActive {
  border-radius: var(--rounded-md);
  cursor: pointer;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.navSectionList {
  color: #8a8f98;
}

.navSectionListActive,
.navSectionListActive:hover {
  color: var(--purple);
  background: var(--purple-transparent);
}