.copyButtonContainer {
  position: absolute;
  right: 5px;
  top: 5px;
}

.copyButton {
  appearance: none;
  padding: 8px;
  border: 0;
  border-radius: var(--rounded-md);
  outline: 0;
  cursor: pointer;
  background: #1d1e26;
}

.copyIcon {
  position: relative;
  height: 16px;
  width: 16px;
}

.clippy,
.check {
  position: absolute;
  top: 0;
  left: 0;
  stroke-dasharray: 50;
  transition: all 300ms ease-in-out;
}

.clippy {
  color: var(--disabled);
}

.copyButton:hover .clippy {
  color: var(--white); 
}

.check {
  color: var(--green);
}

.pre {
  padding: 1rem;
  composes: drac-scrollbar-grey drac-text-xs from global;
  border-radius: var(--rounded-md);
  margin: 0;
  font-family: 'Fira Code', monospace;
  line-height: var(--line-height-md);
  overflow: auto;
}