.copyButtonContainer {
  position: absolute;
  right:0;
  top: 0;
}

.pre {
  position: relative;
  padding: 1rem;
  overflow: scroll;
  composes: drac-text-xs from global;
  border-radius: var(--rounded-md);
  margin: 0 0 40px;
  font-family: 'Fira Code', monospace;
  line-height: var(--line-height-md);
}

