.copyButtonContainer {
  position: absolute;
  right:0;
  top: 0;
}

.pre {
  padding: 1rem;
  composes: drac-text-xs from global;
  border-radius: var(--rounded-md);
  margin: 0;
  font-family: 'Fira Code', monospace;
  line-height: var(--line-height-md);
  overflow: auto;
}

