.footer {
  height: 5rem;
  flex-shrink: 0;
  justify-content: center;
  border-top-width: 0.1rem;
  border-top-style: solid;
  composes: drac-border-purple from global;
}

.credits {
  font-size: 1rem;
  composes: drac-text from global;
  composes: drac-text-white from global;
  text-align: center;
}

.link {
  color: var(--cyan);
  text-decoration: none;
}

.love {
  display: inline-block;
  position: relative;
  top: 0.2em;
  font-size: 2.4em;
  color: var(--pink);
  transform: scale(0.9);
  animation: love 0.5s infinite linear alternate-reverse;
}

@keyframes love {
  to {
    transform: scale(1.1);
  }
}
