.background {
  background: rgba(0, 0, 0, .8);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 999;
}

.container {
  background-color: #15171b;
  border-radius: var(--rounded-xl);
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
  position: relative;
  padding: 8px;
  width: 600px;
}

/* Search */

.search {
  flex: auto;
  display: flex;
  align-items: center;
}

.input {
  appearance: none;
  border: 0;
  box-sizing: border-box;
  color: white;
  display: block;
  padding: 1rem;
  background: transparent;
  font-size: var(--font-md);
  outline: none;
  font-family: 'Fira Code', monospace;
  width: 100%;
}

.iconSearch {
  color: white;
  opacity: .5;
  padding-left: 1rem;
}

/* Options */

.list {
  margin: 0;
  padding: 10px 0 0;
  max-height: 216px;
  overflow-y: scroll;
  border-top: 1px solid rgba(255, 255, 255, .2);
}

.option {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  padding-left: 1.0rem;
  padding-right: 1.0rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: var(--rounded-lg);
  outline: none;
  color: gray;
  opacity: .5;
  transition: all .3s ease-in-out;
}

.option[aria-selected="true"] {
  color: white;
  background: rgba(0, 0, 0, .5);
  opacity: 1;
}

.optionIcon {
  padding-right: 12px;
}

.optionTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.enterIcon {
  width: 16px;
  height: 16px;
  opacity: 0.5;
}

