.nav {
  composes: drac-scrollbar-grey from global;
  background: #15171b;
  height: 100vh;
  min-width: 15rem;
  overflow-y: auto;
  position: fixed;
  z-index: 2;
}

.navSectionTitle {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 12px;
}

.navSectionList,
.navSectionListActive, .navSectionPatterns {
  border-radius: var(--rounded-md);
  cursor: pointer;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.navSectionList {
  color: #8a8f98;
}

.navSectionPatterns, .navSectionPatterns:hover {
  color: #8a8f989d;
  cursor: default;
}

.navSectionListActive,
.navSectionListActive:hover {
  color: var(--purple);
  background: var(--purple-transparent);
}

@media (max-width: 76rem) {
  .nav {
    position: relative;
    height: auto;
    min-width: 100%;
  }
}
