.tab {
  cursor: pointer;
  composes: drac-tab from global;
}

.tabActive {
  cursor: pointer;
  composes: drac-tab from global;
  composes: drac-tab-active from global;
}

.tabPanel {
  display: none;
}

.tabPanelActive {
  display: block;
}

.usage {
  background: #282a36;
  border-radius: var(--rounded-md);
  padding: 2rem;
}
