.topbar {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.title {
  text-decoration: none;
}

.text {
  font-size: 25px;
  font-weight: 700;
  font-family: "Abril Text";
}

.menu {
  display: none;
  position: absolute;
  right: 20px;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  padding: 0;
}

.menuPrimary {
  background: var(--purple-transparent);
  border-radius: var(--rounded-md);
}

.menuSecondary {
  fill: var(--purple);
}

@media (max-width: 76rem) {
  .menu {
    display: block;
  }

  .colors {
    display: none;
  }
}