form {
  display: flex;
  flex-direction: column;
}

.form-control {
  margin-bottom: 20px;
  width: 100%;
}

.drac-heading-1 {
  margin-bottom: 20px;
}

input[type='checkbox'] {
  margin-bottom: 30px;
}
